@import url('./variables')
@import url('./page')
@import url('./card')
@import url('./flex')
@import url('./button')
@import url('./form')
@import url('./input')
@import url('./variables')
@import url('./chat')
@import url('./link');
@import url('./profile')
@import url('./error')

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap')

body
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
