@import './variables'
@import './page'
@import './card'
@import './flex'
@import './button'
@import './form'
@import './input'
@import './link'
@import './chat'
@import './profile'
@import './error'

@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap'

body
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif
