a
  color: #2D88F4

.link
  font-size: 16px
  display: flex
  align-items: center
  text-decoration: none
  font-weight: 500
  & img
    padding-top: 2px
    height: 14px
    // width: 8px
    // height: 11px
