<div class="chat-bar">
  <div class="chat-bar__top">
    <div class="chat-bar__profile">
      <div class="chat-bar__profile-inner">
        {{> chat/chatAvatar src="https://i.ytimg.com/vi/eXwZMAz9Vh8/maxresdefault.jpg"}}
        <div class="chat-bar__profile-title">Антон</div>
      </div>
      {{> link/link href="./profile.hbs" label="Профиль"}}
    </div>
    {{> input/input type='search' name='search' placeholder='Поиск по чатам...'}}
  </div>
  {{#each chat}}
    {{> chat/chatItem chat=this}}
  {{/each}}
</div>
