---
dataProfile:
  - label: Почта
    value: keks_practicum@gmail.com
  - label: Логин
    value: keks
  - label: Имя
    value: Антон
  - label: Фамилия
    value: Попов
  - label: Имя в чате
    value: Антон
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чаты</title>
    <link rel="stylesheet" href="../../sass/app.sass"/>
</head>
<body>
    <main class="page profile flex flex-center flex-column">
      <div class="card card-profile">
        {{> chat/chatAvatar src="https://i.ytimg.com/vi/eXwZMAz9Vh8/maxresdefault.jpg"}}
        <div class="flex flex-column flex-around" style="margin-left: 20px;">
          <div class="card-profile__name">Антон</div>
          <div class="card-profile__phone">+7 (909) 643 34 43</div>
        </div>
      </div>
      <div class="card">
        <form onsubmit="event.preventDefault()">
          {{> input/input type="password" name="oldPassword" placeholder="Текущий пароль "}}
          {{> input/input type="password" name="newPassword" placeholder="Новый пароль "}}
          {{> button/button type="submit" link="./index.hbs" label="Сохранить"}}
        </form>
      </div>
    </main>
</body>
</html>
