---
chat:
  - name: Вадим
    image: https://u.cubeupload.com/adsuri/7NQDHz.jpeg
    lastMessage: Го
    timeOrDate: 24.01.2023
    unreadMessages: 3
  - name: Алексей
    image: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz1rLseZTJ6YRzvVJvjULknsz76zHB6as7eA&usqp=CAU
    lastMessage: Го
    timeOrDate: 24.01.2023
    unreadMessages: 3
  - name: Саня
    image: https://u.cubeupload.com/adsuri/7NQDHz.jpeg
    lastMessage: Ну да, посмотрим
    timeOrDate: 24.01.2023
    unreadMessages: 3
  - name: Вадим
    image: https://u.cubeupload.com/adsuri/7NQDHz.jpeg
    lastMessage: Lorem Ipsum - это текст-"рыба"
    timeOrDate: 24.01.2023
    unreadMessages: 3
  - name: Алексей
    image: https://u.cubeupload.com/adsuri/7NQDHz.jpeg
    lastMessage: Го
    timeOrDate: 24.01.2023
    unreadMessages: 3
  - name: Саня
    image: https://wallpapers-clan.com/wp-content/uploads/2022/05/meme-pfp-04.jpg
    lastMessage: Правки сделал?
    timeOrDate: 24.01.2023
    unreadMessages: 0
  - name: Вадим
    image: https://u.cubeupload.com/adsuri/7NQDHz.jpeg
    lastMessage: Го
    timeOrDate: 24.01.2023
    unreadMessages: 3
  - name: Алексей
    image: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz1rLseZTJ6YRzvVJvjULknsz76zHB6as7eA&usqp=CAU
    lastMessage: Lorem Ipsum - это текст-"рыба"
    timeOrDate: 24.01.2023
    unreadMessages: 0
  - name: Саня
    image: https://u.cubeupload.com/adsuri/7NQDHz.jpeg
    lastMessage: Ну да, посмотрим
    timeOrDate: 24.01.2023
    unreadMessages: 3
  - name: Алексей
    image: https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQz1rLseZTJ6YRzvVJvjULknsz76zHB6as7eA&usqp=CAU
    lastMessage: Lorem Ipsum - это текст-"рыба"
    timeOrDate: 24.01.2023
    unreadMessages: 0
  - name: Саня
    image: https://u.cubeupload.com/adsuri/7NQDHz.jpeg
    lastMessage: Ну да, посмотрим
    timeOrDate: 24.01.2023
    unreadMessages: 3
---
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чаты</title>
    <link rel="stylesheet" href="../sass/app.sass"/>
</head>
<body>
    <main class="page main flex">
        {{> chat/chatBar }}
        {{> chat/chatMessage }}
    </main>
</body>
</html>
