<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>Авторизация</title>
    <link rel="stylesheet" href="../sass/app.sass"/>
</head>
<body>
    <main class="page auth flex flex-center">
        <div class="card flex flex-align__center">
            <form class="form form-auth">
                {{> form/formTitle title="Вход"}}
                {{> input/input type="text" name="login" placeholder="Логин "}}
                {{> input/input type="password" name="password" placeholder="Пароль "}}
                {{> button/button type="submit" link="./index.hbs" label="Войти"}}
                {{> form/formBottom textLabel="Нет аккаунта?" link='./register.hbs' linkLabel="Зарегистрироваться"}}
            </form>
            <img src="../assets/images/auth_form.png" alt="">
        </div>
    </main>
</body>
</html>
