<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Чаты</title>
    <link rel="stylesheet" href="../sass/app.sass"/>
</head>
<body>
    <main class="container">
      Профиль
    </main>
</body>
</html>
