<div class="chat-message__header">
    <div class="chat-bar__profile">
        <div class="chat-bar__profile-inner">
            {{{ChatAvatar}}}
            <div class="chat-bar__profile-title">${this.props.currentChat.name}</div>
        </div>
    </div>
    <div class="chat-message__menu">
        ...
    </div>
</div>

<div class="chat-message__window">
    <div class="chat-message__date">19 июля</div>
    <div class="chat-message__item another">
        <div class="chat-message__item-content">another message dwadwadawdawdawdd</div>
        <div class="chat-message__item-time">12:38</div>
    </div>
    <div class="chat-message__item my">
        <div class="chat-message__item-content">This is my message</div>
        <div class="chat-message__item-time">15:42</div>
    </div>
</div>

<div class="chat-message__action">
    {{{InputFIle}}}
    {{{Input}}}
    {{{ButtonSend}}}
</div>