<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>404</title>
    <link rel="stylesheet" href="../../sass/app.sass"/>
</head>
<body>
    <main class="page error error-page flex flex-center">
        <img src="../../assets/images/errorPage.png" >
        Такой страницы не существует
        {{> link/link href="../index.hbs" label="Вернуться на главную"}}
    </main>
</body>
</html>
