<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <title>404</title>
    <link rel="stylesheet" href="../../sass/app.sass"/>
</head>
<body>
    <main class="page error error-page flex flex-center">
        <img src="./assets/images/errorPage.png" >
        Такой страницы не существует
        {{> link/link href="../index.hbs" label="Вернуться на главную"}}
    </main>
</body>
</html>
